[user]
	name = Fabrice Jammes
	email = fabrice.jammes@in2p3.fr
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status
        psom = push origin master
        plom = pull origin master
        resetorigin = "!f() { git fetch origin && git reset --hard origin/${1} && git clean -f -d; }; f"
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/qserv/.gitignore
