[user]
        name = Fabrice Jammes
        email = fabrice.jammes@in2p3.fr
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[alias]
        st = status
        resetorigin = "!f() { git fetch origin && git reset --hard @{u} && git clean -f -d; }; f"
        logfull = log --graph --decorate
        rebasemaster = !git fetch origin master && git rebase -i origin/master
[push]
        default = simple
[core]
        editor = vim
	excludesfile = /home/qserv/.gitignore
